<ion-card class="form-card">
  <ion-card-header>
    <ion-card-title>Crea una nueva cita</ion-card-title>
  </ion-card-header>
  
  <ion-card-content>
    <form [formGroup]="creacioncita">
      
      <ion-item lines="none" class="input-item">
        <ion-label position="stacked">Cita</ion-label>
        <ion-input 
          formControlName="frase"
          placeholder="Ingrese la frase"
        ></ion-input>
      </ion-item>
      
      <div class="error-message" *ngIf="frase?.invalid && frase?.touched">
        <ion-text color="danger">
          <small *ngIf="frase?.hasError('required')">La cita es obligatoria</small>
          <small *ngIf="frase?.hasError('minlength')">La cita debe tener al menos 5 caracteres</small>
        </ion-text>
      </div>

      <ion-item lines="none" class="input-item">
        <ion-label position="stacked">Autor</ion-label>
        <ion-input 
          formControlName="autor"
          placeholder="Mahatma Gandhi"
        ></ion-input>
      </ion-item>
      
      <div class="error-message" *ngIf="autor?.invalid && autor?.touched">
        <ion-text color="danger">
          <small *ngIf="autor?.hasError('required')">El autor es obligatorio</small>
          <small *ngIf="autor?.hasError('minlength')">El autor debe tener al menos 2 caracteres</small>
        </ion-text>
      </div>

      <ion-button 
        fill="clear" 
        size="small" 
        (click)="agregarCita()"
        [disabled]="creacioncita.invalid"
        class="add-button"
      >
        AGREGAR
        <ion-icon slot="end" name="add"></ion-icon>
      </ion-button>
    </form>
  </ion-card-content>
</ion-card>